<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Vai dar ruim? Formulário de inclusão de Farmaco</title>
</head>
<body>
<h2>Formulário de inclusão de Farmaco</h2>
<form th:action="@{/api/farmacos}" th:object="${farmacos}" method="post">
  <input type="hidden" th:field="*{farmacoId}">
  <div>
    <label for="nomeDaSubstancia">Nome</label>
    <input type="text" id="nomeDaSubstancia" th:field="*{nomeDaSubstancia}">
  </div>

  <!-- Dropdowns for existing farmacos -->
  <div th:each="existingFarmaco : ${farmacos}">
    <label for="nomeDaSubstancia"
           th:text="${existingFarmaco.nomeDaSubstancia}"></label>
    <select th:field="*{cruzamentos[__${existingFarmaco.farmaco_id()}__]}">
      <option th:each="classificacao : ${T(br.com.vaidaruim.gs3.core.entity.Classificacao).values()}"
              th:value="${classificacao}"
              th:text="${classificacao}">
      </option>
    </select>
  </div>

  <div>
    <button type="submit">Enviar</button>
  </div>
</form>
</body>
</html>
