<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Vai dar ruim? Formulário de inclusão de Farmaco</title>
</head>
<body>
<h2>Formulário de inclusão de Farmaco</h2>
<form th:action="@{/api/farmacos}" th:object="${farmacos}" method="post">
  <input type="hidden" th:field="*{id}">
  <div>
    <label for="nomeDaSubstancia">Nome</label>
    <input type="text" id="nomeDaSubstancia" name="nomeDaSubstancia" th:field="*{nomeDaSubstancia}">
  </div>


<!--  <div>-->
<!--    <label for="cruzamentos">Cruzamentos</label>-->
<!--    <textarea type="text" id="cruzamentos" th:field="*{cruzamentos}"></textarea>-->
<!--  </div>-->


<!--  <div>-->
<!--    <label for="cruzamentos">Cruzamentos</label>-->
<!--    <select name="cruzamentos" id="cruzamentos" th:field="*{cruzamentos}">-->
<!--      <option th:each="entry : ${farmacos.getCruzamentos()}" th:value="${entry.key}" th:text="${entry.value}"></option>-->
<!--    </select>-->
<!--  </div>-->


  <div>
    <label for="cruzamentos">Cruzamentos</label>
    <select name="cruzamentos" id="cruzamentos" th:field="*{cruzamentos}">
      <option th:each="classificacao : ${T(br.com.vaidaruim.gs3.core.entity.Classificacao).values()}"
              th:value="${classificacao}"
              th:text="${classificacao}">
      </option>
    </select>
  </div>

<!--  <div th:each="existingFarmaco : ${farmacos}">-->
<!--    <div>-->
<!--      <label th:for="${'cruzamentos_' + existingFarmaco.id}"> Cruzamentos com ${existingFarmaco.nomeDaSubstancia}</label>-->
<!--      <select name="cruzamentos" th:field="${'farmacos.cruzamentos[' + existingFarmaco.id + ']'}">-->
<!--        <option th:each="classificacao : ${T(br.com.vaidaruim.gs3.core.entity.Classificacao).values()}"-->
<!--                th:value="${classificacao}"-->
<!--                th:text="${classificacao}">-->
<!--        </option>-->
<!--      </select>-->
<!--    </div>-->
<!--  </div>-->



  <div>
    <button type="submit">Enviar</button>
  </div>
</form>
</body>
</html>
